{% load static %} 
 <div class="col py-3">
        <div class="card" style="width: 14rem;">
          <img src="{% static 'images/taco.webp' %}" class="card-img-top" alt="Tacos Image">
          <div class="card-body">
            <h5 class="card-title">Taco</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

<div class="col py-3">
        <div class="card" style="width: 14rem;">
          <img src="{% static 'images/hotdog.png' %}" class="card-img-top" alt="Tacos Image">
          <div class="card-body">
            <h5 class="card-title">HotDog</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

<div class="col py-3">
        <div class="card" style="width: 14rem;">
          <img src="{% static 'images/Cola.png' %}" class="card-img-top" alt="Tacos Image">
          <div class="card-body">
            <h5 class="card-title">Cola</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

<div class="col py-3">
        <div class="card" style="width: 14rem;">
          <img src="{% static 'images/fries.png' %}" class="card-img-top" alt="Tacos Image">
          <div class="card-body">
            <h5 class="card-title">Fries</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>