{% load static %}

{% include 'main/header.html' %}

<body>
  <!-- this is the nav bar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>Hello User: {{ name }}</h1>
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row flex-nowrap">
      {% include 'main/sidenav.html' %}
      <!-- start of card -->
      <div class="col py-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/hotdog.png' %}" class="card-img-top" alt="Hotdog Image">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-- end of card -->
    </div>
  </div>

  {% include 'main/footer.html' %}
</body>
