{% load static %}

{% include 'main/header.html' %}

<body>
  <!-- this is the nav bar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>Hello User: {{ name }}</h1>
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row flex-nowrap">
      {% include 'main/sidenav.html' %}
      <!-- start of card -->
      {% include 'content/cards.html' %}
      <!-- end of card -->
    </div>
  </div>

  {% include 'main/footer.html' %}
</body>
